<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>VUE</title>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<todo-list v-bind:todos="todos" id="parent">
	  <template slot-scope="myScope" v-if="myScope.todo.isComplete">
	  	<span>
	  		<span>✓</span>
		    <span>×</span>
		    {{myScope.todo.text}}
	  	</span>
	  </template>
	</todo-list>
	
	<script type="text/javascript">
		Vue.component('todo-list', {
			props: ['todos'],
			template: `<ul>
						  <li
						    v-for="todo in todos"
						    v-bind:key="todo.id"
						  >
						    <slot :todo="todo">
						    	test
						    </slot>
						  </li>
						</ul>`
		})
		var parent = new Vue({
			el: '#parent',
			data: {
				todos: [
					{id:0,text:'我是第0个',isComplete:true},
					{id:1,text:'我是第1个',isComplete:false},
					{id:2,text:'我是第2个',isComplete:true},
					{id:3,text:'我是第3个',isComplete:true}
				]
			}

		})
	</script>

	


</body>
</html>